.cm-red {
  color: #eb5656; }

.cm-fr {
  float: right; }
@charset "UTF-8";
.father {
  border: solid 1px #eb5656;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  padding: 10px; }
  .father > div {
    border: solid 1px #29c3db;
    border-radius: 3px;
    padding: 10px;
    width: 50px; }

span {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px; }

.link {
  position: fixed;
  width: 100px;
  height: 60px;
  bottom: 50px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #20db56; }

.style1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .style1 + span:after {
    content: "\5B50\5143\7D20\957F\5EA6\8D85\8FC7\7236\5143\7D20\65F6\FF0C  flex-wrap\FF1Awrap\4F1A\8FDB\884C\6362\884C,order\6392\5E8F"; }
  .style1 .son1 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .style1 .son2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .style1 .son3 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .style1 .son4 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

/*子元素长度超过父元素时，flex-wrap：wrap会进行换行*/
.style2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100px; }
  .style2 + span:after {
    content: "nowrap;align-items:stretch(default)"; }

.style3 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse; }
  .style3 + span:after {
    content: "flex-wrap\FF1Awrap-reverse;"; }

.style4 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 300px; }
  .style4 + span:after {
    content: "justify-content:flex-end"; }

.style5 {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 300px; }
  .style5 + span:after {
    content: "justify-content:space-around \5DE6\53F3\95F4\8DDD\76F8\7B49"; }

.style6 {
  height: 150px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 500px; }
  .style6 .son1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .style6 .son2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .style6 .son3 {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 auto;
            flex: 2 1 auto; }
  .style6 .son4 {
    -webkit-box-flex: 3;
        -ms-flex: 3 1 auto;
            flex: 3 1 auto; }
  .style6 + span:after {
    content: "align-items:flex-end"; }

.style7 {
  height: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px; }
  .style7 + span:after {
    content: "align-items:center \5782\76F4\5C45\4E2D"; }
  .style7 .son2 {
    -ms-flex-item-align: end;
        align-self: flex-end; }

.style8 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px; }
  .style8 + span:after {
    content: "justify-content:space-between \4E24\7AEF\5BF9\9F50\FF0C\9879\76EE\4E4B\95F4\7684\95F4\8DDD\76F8\7B49"; }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: solid 1px #eb9f1e;
  padding: 5px; }

[class*=col-] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 1px #4453db; }

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%; }

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%; }

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%; }

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%; }

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%; }

.holy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  border: solid 1px #29c3db; }
  .holy .header {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: #29c3db; }
  .holy .middle {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #20db56; }
    .holy .middle .left {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      background-color: #9c45db; }
    .holy .middle .right {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      background-color: #eb5656; }
    .holy .middle .main {
      -webkit-box-flex: 3;
          -ms-flex: 3;
              flex: 3;
      background-color: #4453db; }
  .holy .footer {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: #eb9f1e; }

@media only screen and (max-width: 768px) {
  .middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.main-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.img-cont {
  width: 300px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .img-cont .img {
    width: 80px;
    height: 60px;
    margin-right: 10px; }
  .img-cont .content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.custom {
  width: 300px;
  border: solid 1px #9c45db; }
  .custom:after {
    content: ' ';
    display: table;
    clear: both; }
  .custom .fl {
    float: left; }
  .custom .fr {
    float: right; }
  .custom .img {
    width: 80px;
    height: 60px;
    margin-right: 10px; }

.Site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #9c45db; }

.Site-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #eb9f1e; }
@charset "UTF-8";
.cj-container {
  border: solid 1px #eb5656;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.dotCont {
  border: sandybrown 1px solid; }

.dot {
  border: solid 1px #29c3db;
  border-radius: 50%;
  background-color: #29c3db;
  width: 30px;
  height: 30px;
  overflow: hidden; }

span {
  display: block;
  padding: 10px;
  border-bottom: solid 1px #20db56; }

.style1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.style2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.style3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.style4 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.style5 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.style6 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.style7 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.style8 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .style8 + div:after {
    content: ' ';
    display: block;
    border-top: solid 1px #9c45db; }

.style9 {
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.style10 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.style11 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .style11 + span:after {
    content: "flex\65B9\5411\4E3A\5782\76F4\65B9\5411\65F6\FF0C  align-items\5C31\4F1A\53D8\4E3A\6C34\5E73\65B9\5411"; }

.style12 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.style13 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .style13 .dot:nth-child(2) {
    -ms-flex-item-align: center;
        align-self: center; }

.style14 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .style14 .dot:nth-child(2) {
    -ms-flex-item-align: end;
        align-self: flex-end; }

.style15 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .style15 .dot:nth-child(2) {
    -ms-flex-item-align: center;
        align-self: center; }
  .style15 .dot:nth-child(3) {
    -ms-flex-item-align: end;
        align-self: flex-end; }

.style16 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: justify;
      align-content: space-between; }
  .style16 + span:after {
    content: '\4F7F\7528\6362\884C\5C06  4\70B9\4E24\884C\5206\5E03\FF0Cjustify-content\53F3\5BF9\9F50\FF0C\518D\5229\7528  align-content\89C4\5B9A\5782\76F4\65B9\5411\4E0A\7684\95F4\9694'; }

.style17 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .style17 .dotCont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .style17 + span:after {
    content: "\65B9\5F0F  1\FF1A\7236\7C7B\5782\76F4\65B9\5411+\95F4\8DDD\FF0C\5B50\7C7B\6C34\5E73\65B9\5411+\95F4\8DDD"; }

.style18 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between; }
  .style18 .dotCont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .style18 + span:after {
    content: "\65B9\5F0F  2\FF1A\7236\7C7B\6362\884C(\9ED8\8BA4\662F\4E0D\6362\884C)\548C\95F4\8DDD\FF0C\5B50\7C7B\5360\7A7A\95F4  100%\FF0C\5360\636E\592A\591A\5219\8FDB\884C\6362\884C+\95F4\8DDD"; }

.style19 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between; }
  .style19 + span:after {
    content: "\6362\884C+\95F4\8DDD"; }

.style20 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .style20 .dotCont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .style20 .dotCont:nth-child(2) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .style20 .dotCont:nth-child(3) {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .style20 + span:after {
    content: "\4E09\4E2A\5BB9\5668\6BCF\4E2A\90FD\5360  100%\5C31\4F1A\6362\884C\FF0C\4E4B\540E\8BBE\7F6E\5185\90E8\7684\95F4\8DDD\FF0C\6CE8\610F\8981\8BBE\7F6E  display:flex"; }

.style21 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
